/*  Fonts  */
@import '@fontsource-variable/montserrat';
@import '@fontsource/metropolis';
@import '@fontsource-variable/work-sans';
@import '@fontsource-variable/geist-mono';
@import '@fontsource-variable/jetbrains-mono/wght.css';
@import '@fontsource-variable/lora/wght.css';
@import '@fontsource-variable/fira-code/wght.css';
@reference "tailwindcss";

@layer base {
    @font-face {
        font-family: 'Great';
        src: url(../fonts/Great.ttf);
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Satoshi';
        src: url(../fonts/Satoshi-Variable.ttf) format('truetype');
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Satoshi';
        src: url(../fonts/Satoshi-VariableItalic.ttf) format('truetype');
        font-weight: 100 900;
        font-style: italic;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Spaced';
        src: url(../fonts/Spaced.ttf) format('truetype');
        font-style: normal;
        font-display: swap;
    }
    
    * {
        @apply m-0;
    }
    
    /*
    html {
        @apply scheme-light dark:scheme-dark;
    }
    */
    
    body {
        @apply bg-background text-foreground overflow-x-hidden overflow-y-scroll;
    }
    
    .homepage * {
        @apply font-great;
    }
    
    #__nuxt {
        /*@apply bg-background;*/
        /*height: 100vh;*/
        /*width: 100%;*/
    }
    
    main {
        @apply w-dvw mx-auto overflow-hidden;
    }
    
    section {
        @apply my-24;
    }
    
    ::selection {
        background: var(--accent);
        color: var(--primary);
    }
}

@layer components {
    h1 {
        @apply text-8xl xl:text-9xl;
    }
    
    h2 {
        @apply text-6xl xl:text-8xl;
    }
    
    h3 {
        @apply text-3xl xl:text-4xl;
        
        .text-3d {
            /*@apply font-satoshi;*/
        }
    }
    
    h4 {
        @apply text-2xl xl:text-3xl;
    }
    
    h5 {
        @apply text-2xl;
    }
    
    h6 {
        @apply text-xl;
    }
    
    p {
        @apply text-base;
    }
    
    span {
        @apply text-inherit;
    }
    
    td, tr, label, input {
        @apply text-base px-3;
    }
    
    div {
        /*@apply font-spaced;*/
    }
    
    a {
        @apply cursor-pointer text-center;
    }
    
    button {
        @apply cursor-pointer border border-transparent;
    }
    
    .font-great {
        @apply font-great truncate tracking-[0.4rem];
    }
    
    .page {
        @apply mt-20 relative px-6 mx-auto w-full;
        
        /* Desktop */
        @media (min-width: 1024px) {
            @apply mt-0 flex flex-col justify-center items-center gap-12 w-full max-w-[2560px] min-h-[calc(100vh-24rem)] py-16 px-12 mx-auto;
        }
    }
    
    .sidebar {
        /*@apply tracking-normal;*/
    }
    
    [data-slot='sidebar-inset'] {
        @apply w-dvw;
    }
}

@layer utilities {
    .custom-flex {
        @apply flex flex-col sm:flex-row justify-center items-center;
    }
    
    .ghost-link-as-button {
        /* Shadcn button-outline style */
        @apply inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50 h-9 px-4 py-2 has-[>svg]:px-3;
    }
    
    .button-hover:hover {
        border: 1px solid var(--border) !important;
    }
    
    .hover-card-content {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        line-height: 16px !important;
    }
    
    .vertical-separator {
        background: var(--accent) !important;
        height: 40px;
        width: 1px;
    }
    
    .market {
        .card-container {
            @apply flex flex-col justify-between;
        }
        
        .card-header {
            @apply flex flex-col xl:flex-row items-center p-8 border-b border-border relative;
        }
        
        .card-title {
            @apply flex items-center gap-3;
        }
        
        .card-content {
            @apply flex flex-col gap-4 p-4 relative;
            
            .name {
                @apply flex items-center flex-1 gap-3;
            }
            
            .sparkline {
                @apply flex-1 select-none flex;
            }
            
            .price {
                @apply flex flex-1 flex-col items-end;
            }
        }
        
        .card-footer {
            @apply self-center;
        }
        
    }
    
    .coin-links {
        .card-content {
            @apply flex flex-col gap-12;
        }
        
        .cards-container {
            @apply flex flex-wrap 2xl:flex-col gap-9 2xl:gap-3;
        }
        
        .coin-link-card {
            @apply flex-1 items-center;
        }
    }
    
    .news {
        .card-title {
            @apply text-xl text-left hover:underline line-clamp-3 leading-7;
        }
        
        .article-title {
            @apply text-3xl md:text-4xl lg:text-5xl font-medium tracking-wide leading-[1.3] [word-spacing:0.1em];
        }
        
        .article-body {
            @apply [word-spacing:0.1em];
            
            p {
                @apply text-base leading-6 mb-8;
            }
        }
    }
}

/* Desktop */
@media (min-width: 1024px) {}

/* Mobile */
@media (max-width: 1023px) {}