/*  Fonts  */
@import '@fontsource-variable/montserrat';
@import '@fontsource/metropolis';
@import '@fontsource-variable/work-sans';

@layer base {
    @font-face {
        font-family: 'Great';
        font-display: swap;
        src: url(../fonts/Great.ttf);
    }
    
    @font-face {
        font-family: 'Satoshi';
        src: url(../fonts/Satoshi-Variable.ttf) format('truetype');
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Satoshi';
        src: url(../fonts/Satoshi-VariableItalic.ttf) format('truetype');
        font-weight: 100 900;
        font-style: italic;
        font-display: swap;
    }
    
    * {
        @apply m-0;
    }
    
    html {
        @apply scheme-light dark:scheme-dark;
    }
    
    body {
        @apply font-metropolis bg-background text-foreground overflow-x-hidden overflow-y-scroll;
    }
    
    .homepage {
        @apply font-great;
    }
    
    #__nuxt {
        @apply bg-background;
        /*height: 100vh;*/
        /*width: 100%;*/
    }
    
    main {
        @apply w-dvw mx-auto overflow-hidden;
    }
    
    .page {
        @apply max-w-screen-2xl mt-8 xl:mt-12 xl:mb-36 px-6 md:px-12 xl:px-24 flex flex-col items-center justify-center relative;
    }
    
    [data-slot='sidebar-wrapper'] {
        /*@apply my-20 md:my-6;*/
    }
    
    [data-slot='sidebar-inset'] {
        @apply w-dvw;
    }
    
    section {
        @apply mt-20 md:mt-8;
    }
    
    ::selection {
        background: var(--accent);
    }
    
    .sidebar {
        @apply font-satoshi z-50;
    }
}

@layer components {
    h1 {
        @apply text-7xl md:text-8xl 2xl:text-9xl tracking-widest break-words;
    }
    
    h2 {
        @apply text-5xl md:text-8xl 2xl:text-9xl tracking-tight;
        
        &.page-title {
            @apply my-6 sm:my-10 xl:my-20;
        }
    }
    
    h3 {
        @apply text-2xl md:text-4xl 2xl:text-5xl !leading-8;
        
        .text-3d {
            @apply font-satoshi;
        }
    }
    
    h4 {
        @apply text-lg md:text-xl 2xl:text-2xl;
    }
    
    h5 {
        @apply text-xl;
    }
    
    h6 {
        @apply text-lg text-left;
    }
    
    ul {
        @apply flex justify-center w-full;
    }
    
    p {
        @apply text-sm sm:text-base leading-5;
    }
    
    span {
        @apply text-inherit;
    }
    
    a {
        @apply cursor-pointer text-center;
    }
    
    button {
        @apply cursor-pointer;
    }
    
    .font-great {
        @apply truncate tracking-[0.4rem];
    }
}

@layer utilities {
    .title {
        @apply text-3xl md:text-4xl lg:text-5xl font-medium tracking-wide leading-[1.3] [word-spacing:0.1em] animate-fadeIn;
    }
    
    .custom-flex {
        @apply flex flex-col sm:flex-row justify-center items-center;
    }
    
    [data-sonner-toast] {
        @apply !bg-popover-foreground dark:!bg-popover !text-background dark:!text-foreground !border-border;
        
        button {
            @apply !bg-background dark:!bg-foreground !text-foreground dark:!text-background;
        }
        
        span:not(.iconify) {
            @apply text-sky;
        }
        
        /*
        & [data-content] {
            @apply ml-12;
        }
        */
        
        /*
        @media (max-width: 1020px) {
            width: 90% !important;
        }
        */
    }
    
    .link-as-button {
        /* Shadcn button-outline style */
        @apply inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive border bg-background shadow-xs hover:bg-accent hover:text-accent-foreground dark:bg-input/30 dark:border-input dark:hover:bg-input/50 h-9 px-4 py-2 has-[>svg]:px-3;
    }
    
    .hover-card-content {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        line-height: 16px !important;
    }
    
    .vertical-separator {
        background: var(--accent) !important;
        height: 40px;
        width: 1px;
    }
    
    .market {
        .card-container {
            @apply flex flex-col justify-between;
        }
        
        .card-header {
            @apply flex flex-col xl:flex-row items-center p-8 border-b border-border/50 relative;
        }
        
        .card-title {
            @apply flex items-center gap-3;
        }
        
        .card-content {
            @apply flex flex-col gap-4 p-4 relative;
            
            .name {
                @apply flex items-center flex-1 gap-3;
            }
            
            .sparkline {
                @apply flex-1 select-none flex;
            }
            
            .price {
                @apply flex flex-1 flex-col items-end;
            }
        }
        
        .card-footer {
            @apply self-center;
        }
    }
    
    .news {
        .card-title {
            @apply text-xl text-left hover:underline line-clamp-3 leading-7;
        }
        
        .article-title {
            @apply text-3xl md:text-4xl lg:text-5xl font-medium tracking-wide leading-[1.3] [word-spacing:0.1em];
        }
        
        .article-body {
            @apply [word-spacing:0.1em];
            
            p {
                @apply text-base leading-6 mb-8;
            }
        }
    }
}

/* Desktop */
@media (min-width: 1024px) {}

/* Mobile */
@media (max-width: 1023px) {}