
@layer base {
    @font-face {
        font-family: 'Great';
        font-display: swap;
        src: url(../fonts/Great.ttf);
    }
    
    @font-face {
        font-family: 'Satoshi';
        src: url(../fonts/Satoshi-Variable.ttf) format('truetype');
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Satoshi';
        src: url(../fonts/Satoshi-VariableItalic.ttf) format('truetype');
        font-weight: 100 900;
        font-style: italic;
        font-display: swap;
    }
    
    * {
        @apply m-0 border-border outline-ring/50;
    }
    
    html {
        @apply bg-background scheme-light dark:scheme-dark;
    }
    
    body {
        @apply font-satoshi text-foreground overflow-x-hidden overflow-y-scroll;
    }
    
    #__nuxt {
        @apply bg-background;
        /*height: 100vh;*/
        /*width: 100%;*/
    }
    
    main {
        @apply w-dvw mx-auto overflow-hidden;
    }
    
    .page {
        @apply max-w-7xl mt-8 xl:mt-12 xl:mb-36 px-6 md:px-12 xl:px-24 flex flex-col items-center justify-center relative;
    }
    
    [data-slot='sidebar-wrapper'] {
        /*@apply my-20 md:my-6;*/
    }
    
    [data-slot='sidebar-inset'] {
        @apply w-dvw;
    }
    
    section {
        @apply mt-20 md:mt-8;
    }
    
    ::selection {
        background: var(--accent);
    }
}

@layer components {
    h1 {
        @apply font-great text-4xl md:text-6xl xl:text-8xl tracking-widest break-words;
        
        &.page-title {
            @apply my-6 sm:my-10 xl:my-20;
        }
    }
    
    h2 {
        @apply font-great text-3xl tracking-tight;
    }
    
    h3 {
        @apply text-2xl;
        line-height: 30px !important;
    }
    
    .global-market h3 {
        @apply font-great;
    }
    
    h4 {
        @apply text-xl;
    }
    
    h5 {
        @apply text-lg;
    }
    
    h6 {
        @apply text-base text-left;
    }
    
    ul {
        @apply flex justify-center w-full;
    }
    
    p {
        @apply text-sm sm:text-base leading-5;
    }

    span {
        @apply text-inherit;
    }
    
    a {
        @apply cursor-pointer text-center;
    }
    
    button {
        @apply cursor-pointer;
    }
    
    .font-great {
        @apply truncate tracking-[0.4rem];
    }
}

@layer utilities {
    .title {
        @apply font-montserrat text-3xl md:text-4xl lg:text-5xl font-medium tracking-wide leading-[1.3] [word-spacing:0.1em];
    }
    
    .custom-flex {
        @apply flex flex-col sm:flex-row justify-center items-center;
    }
    
    [data-sonner-toast] {
        @apply !bg-background dark:!text-foreground !w-120 !flex !items-center !justify-evenly !border-border;
        
        button {
            @apply dark:!bg-foreground dark:!text-background;
        }
        
        span {
            @apply dark:text-foreground;
        }
        
        & [data-content] {
            @apply ml-12;
        }
        
        @media (max-width: 1020px) {
            width: 90% !important;
        }
    }
    
    .vertical-separator {
        background: var(--accent) !important;
        height: 40px;
        width: 1px;
    }
    
    .market {
        .card-container {
            @apply flex flex-col justify-between;
        }
        
        .card-header {
            @apply flex flex-col xl:flex-row items-center p-8 border-b border-border/50 relative;
        }
        
        .card-title {
            @apply flex items-center gap-3;
        }
        
        .card-content {
            @apply flex flex-col gap-4 p-4 relative;
            
            .name {
                @apply flex items-center flex-1 gap-3;
            }
            
            .sparkline {
                @apply flex-1 select-none flex;
            }
            
            .price {
                @apply flex flex-1 flex-col items-end;
            }
        }
        
        .card-footer {
            @apply self-center;
        }
    }
    
    .news {
        .card-title {
            @apply text-left hover:underline line-clamp-3 leading-7;
        }
        
        .article-title {
            @apply text-3xl md:text-4xl lg:text-5xl font-medium tracking-wide leading-[1.3] [word-spacing:0.1em];
        }
        
        .article-body {
            @apply [word-spacing:0.1em];
            
            p {
                @apply text-base leading-6 mb-8;
            }
        }
    }
}

/* Desktop */
@media (min-width: 1024px) {}

/* Mobile */
@media (max-width: 1023px) {}