/*  Fonts  */
@import '@fontsource/ibm-plex-mono';
@import '@fontsource-variable/noto-sans';

@font-face {
    font-family: 'Great';
    font-display: swap;
    src: url(../fonts/Great.ttf);
}
@layer base {
    * {
        @apply m-0 border-border outline-ring/50;
    }
    
    html {
        @apply bg-background scheme-light dark:scheme-dark;
    }
    
    body {
        @apply bg-background text-foreground overflow-x-hidden overflow-y-scroll;
        font-family: 'IBM Plex Mono', monospace;
    }
    
    #__nuxt {
        @apply bg-background;
        /*height: 100vh;*/
        /*width: 100%;*/
    }
    
    main {
        @apply w-dvw mx-auto overflow-hidden;
    }
    
    .page {
        @apply max-w-7xl mt-8 xl:mt-12 xl:mb-96 flex flex-col items-center justify-center relative;
    }
    
    [data-slot='sidebar-wrapper'] {
        /*@apply my-20 md:my-6;*/
    }
    
    [data-slot='sidebar-inset'] {
        @apply w-dvw;
    }
    
    section {
        @apply mt-20 md:mt-8;
    }
    
    ::selection {
        background: var(--accent);
    }
}

@layer components {
    h1 {
        @apply text-4xl md:text-6xl xl:text-8xl tracking-widest break-words truncate;
        font-family: 'Great', sans-serif;
        
        &.page-title {
            @apply my-6 sm:my-10 xl:my-20;
        }
    }
    
    h2 {
        @apply text-3xl tracking-tight;
        font-family: 'Great', sans-serif;
    }
    
    h3 {
        @apply text-2xl;
        line-height: 30px !important;
    }
    
    .global-market h3 {
        font-family: 'Great', sans-serif;
    }
    
    h4 {
        @apply text-xl;
    }
    
    h5 {
        @apply text-lg;
    }
    
    h6 {
        @apply text-base text-left;
    }
    
    ul {
        @apply flex justify-center w-full;
    }
    
    p {
        @apply text-sm sm:text-base leading-5;
    }

    span {
        @apply text-inherit;
    }
    
    a {
        @apply text-center;
    }
    
    button {
        @apply cursor-pointer;
    }
    
    .default-font {
        font-family: 'IBM Plex Mono', monospace;
    }
    
    .roboto-font {
        font-family: 'Roboto', monospace;
    }
    
    .great-font {
        font-family: 'Great', sans-serif;
        @apply truncate tracking-[0.4rem];
    }
    
    .vertical-separator {
        background: var(--accent) !important;
        height: 50px;
        width: 1px;
    }
}

@layer utilities {
    .text-xxs {
        font-size: 11px;
    }
    
    .custom-flex {
        @apply flex flex-col sm:flex-row justify-center items-center;
    }
}

/* Desktop */
@media (min-width: 1024px) {}

/* Mobile */
@media (max-width: 1023px) {}