@import "tailwindcss";
@import "tw-animate-css";
@import './global.css';
@plugin "tailwindcss-animate";
@import 'maz-ui/styles';
@import './shadcn.css';
@import './transitions.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-tertiary: var(--tertiary);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted-custom: var(--muted-custom);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
    
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    
    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
    
    --color-progress: var(--progress);
    --color-sky: var(--sky);
    --color-green-dollar: var(--green-dollar);
    --color-green-patina: var(--green-patina);
    --color-green-shamrock: var(--green-shamrock);
    --color-snowy-mint: var(--snowy-mint);
    --color-pink-cabaret : var(--pink-cabaret);
    --color-green-deco: var(--green-deco);
    --color-teal-blue: var(--teal-blue);
    --color-blue-victoria: var(--blue-victoria);
    --color-pink-blush: var(--pink-blush);
    --color-blue-hippie: var(--blue-hippie);
    --color-blue-bunker: var(--blue-bunker);
    --color-red-brick: var(--red-brick);
    --color-gray-mine: var(--gray-mine);
    --color-gray-dove: var(--gray-dove);
    --color-ebony-clay: var(--ebony-clay);
    --color-orange-bitcoin: var(--orange-bitcoin);
    --color-yellow-selective: var(--yellow-selective);
    --color-warning: var(--warning);
}

:root {
    --background: #ffffff;
    --foreground: #4d4d5a;
    --card: #ffffff;
    --card-foreground: #4d4d5a;
    --popover: #ffffff;
    --popover-foreground: #4d4d5a;
    --primary: #aca4bb;
    --primary-foreground: #ffffff;
    --secondary: #ffffff;
    --secondary-foreground: #4d4d5a;
    --tertiary: #007595;  /* tw cyan-700 */
    --muted: #ffffff;
    --muted-foreground: #868492;
    --muted-custom: rgb(156 163 175 / var(--maz-tw-text-opacity, 1));
    --accent: #f3e7eb;
    --accent-foreground: #bb3f58;  /*  Default #533e44  */
    --destructive: #ff2056;
    --destructive-foreground: #ffffff;
    --border: #fbfafc;
    --input: #ffffff;
    --ring: #aca4bb;
    --chart-1: #aca4bb;
    --chart-2: #f3e7eb;
    --chart-3: #a8c4ba;
    --chart-4: #f1e7d8;
    --chart-5: #e1e7f0;
    --sidebar: #ffffff;
    --sidebar-foreground: #4d4d5a;
    --sidebar-primary: #aca4bb;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #f3e7eb;
    --sidebar-accent-foreground: #533e44;
    --sidebar-border: #ffffff;
    --sidebar-ring: #aca4bb;
    --font-sans: Geist, sans-serif;
    --font-serif: "Lora", Georgia, serif;
    --font-mono: "Fira Code", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-x: 1px;
    --shadow-y: 2px;
    --shadow-blur: 5px;
    --shadow-spread: 1px;
    --shadow-opacity: 0.06;
    --shadow-color: #1a1a1a;
    --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
    --shadow-xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
    --shadow-sm: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-md: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 2px 4px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-lg: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 4px 6px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 8px 10px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.15);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
    
    --progress: #00bc7d;
    --sky: #0ea5e9;
    --green-dollar: #27ae60;
    --green-patina: #6a9a8b;
    --green-shamrock: #1cd1a1;
    --snowy-mint: #c3e8c8;
    --pink-cabaret: #E91E63;
    --green-deco: #cbe58e;
    --teal-blue: #014760;
    --blue-victoria: #4a478a;
    --pink-blush: #da8a8b;
    --blue-bunker: #0d1217;
    --blue-hippie: #5591a9;
    --red-brick: #c9374c;
    --gray-mine: #333136;
    --gray-dove: #6f6d72;
    --ebony-clay: #1f2b37;
    --orange-bitcoin: #f7931a;
    --yellow-selective: #ffb900;
    --warning: oklch(83.7% 0.128 66.29);
}

.dark {
    --background: var(--color-blue-bunker);  /* Default #212027 */
    --foreground: #ffffff;
    --card: #2c2a36;
    --card-foreground: #ffffff;
    --popover: #1c1a22;  /* Default #2c2a36 */
    --popover-foreground: #ffffff;
    --primary: #d0c9db;
    --primary-foreground: #212027;
    --secondary: #706b7f;
    --secondary-foreground: #ffffff;
    --muted: #2d2a37;
    --muted-foreground: #c3c0c8;
    --accent: #423b48;
    --accent-foreground: #212027;
    --destructive: #EA3943;
    --destructive-foreground: #212027;
    --border: #3d3a48;
    --input: #353441;
    --ring: #d0c9db;
    --chart-1: #d0c9db;
    --chart-2: #ffffff;
    --chart-3: #a8c4ba;
    --chart-4: #f1e7d8;
    --chart-5: #e1e7f0;
    --sidebar: #1c1a22;
    --sidebar-foreground: #ffffff;
    --sidebar-primary: #d0c9db;
    --sidebar-primary-foreground: #212027;
    --sidebar-accent: #423b48;
    --sidebar-accent-foreground: #ffffff;
    --sidebar-border: #353441;
    --sidebar-ring: #d0c9db;
    --font-sans: Geist, sans-serif;
    --font-serif: "Lora", Georgia, serif;
    --font-mono: "Fira Code", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-x: 1px;
    --shadow-y: 2px;
    --shadow-blur: 5px;
    --shadow-spread: 1px;
    --shadow-opacity: 0.06;
    --shadow-color: #1a1a1a;
    --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
    --shadow-xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
    --shadow-sm: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-md: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 2px 4px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-lg: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 4px 6px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 8px 10px 0px hsl(0 0% 10.1961% / 0.06);
    --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.15);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

