
@layer components {
    .m-animated-text span {
        @apply text-3xl;
    }
    
    /* Coin supply progress bars */
    .progress-bar-container {
        @apply flex flex-col items-center gap-6;
    }
}
