/*
@keyframes fadeIn {
    0% { opacity: 0; }
    5% { opacity: 0.05; }
    10% { opacity: 0.1; }
    15% { opacity: 0.15; }
    20% { opacity: 0.2; }
    25% { opacity: 0.25; }
    30% { opacity: 0.3; }
    35% { opacity: 0.35; }
    40% { opacity: 0.4; }
    45% { opacity: 0.45; }
    50% { opacity: 0.5; }
    55% { opacity: 0.55; }
    60% { opacity: 0.6; }
    65% { opacity: 0.65; }
    70% { opacity: 0.7; }
    75% { opacity: 0.75; }
    80% { opacity: 0.8; }
    85% { opacity: 0.85; }
    90% { opacity: 0.9; }
    95% { opacity: 0.95; }
    100% { opacity: 1; }
}

.animate-fadeIn {
    animation: fadeIn 1s ease-out forwards;
}

.animate-fadeIn-2000 {
    animation: fadeIn 2s ease-out forwards;
}
*/

/* Page */
.page-enter-active,
.page-leave-active {
    transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(1rem);
}

/* Fade */
.fade-enter-active,
.fade-leave-active {
    transition: all 0.9s;

}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    filter: blur(1rem);
}

/* Bounce */
.bounce-enter-active,
.bounce-leave-active {
    transition: all 0.15s;
}

.bounce-enter-from,
.bounce-leave-to {
    opacity: 0;
    filter: blur(0.1rem);
}

/* Layout */
.layout-enter-active,
.layout-leave-active {
    transition: all 0.4s;
}

.layout-enter-from,
.layout-leave-to {
    filter: grayscale(1);
}

/* Scroll animation Layout*/
.scroll-animation-layout-enter-active,
.scroll-animation-layout-leave-active {
    transition: all 0.4s ease;

}

.scroll-animation-layout-enter-from,
.scroll-animation-layout-leave-to {
    opacity: 0;
    filter: blur(1rem);
}

/* Custom */
.custom-enter-active {
    transition: all .3s ease;
}
.custom-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.custom-enter,
.custom-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

/* ColorMode */
::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}