/*
.q-body--prevent-scroll {
    overflow: hidden !important;
}

.q-page {
    min-height: auto !important;
    width: 100%;
}

.q-page-container {
    padding-top: 0 !important;
    padding-left: 200px !important;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.q-menu {
    background-color: var(--color-blue_dark);
}
*/
