/*  Fonts  */
@import '@fontsource/ibm-plex-mono';
@import '@fontsource-variable/noto-sans';

@font-face {
    font-family: 'Great';
    font-display: swap;
    src: url(../fonts/Great.ttf);
}

@layer base {
    * {
        @apply m-0 border-border outline-ring/50;
    }
    
    html {
        @apply bg-background scheme-light dark:scheme-dark;
    }
    
    body {
        @apply bg-background text-foreground overflow-x-hidden;
        font-family: 'IBM Plex Mono', monospace;
    }
    
    #__nuxt {
        @apply bg-background;
        /*height: 100vh;*/
        /*width: 100%;*/
    }
    
    main {
        /*@apply px-10;*/
        /*@apply flex justify-center items-center;*/
        /*min-height: calc(100vh - 200px);*/
    }
    
    /* Sidebar acts as .main */
    [data-slot='sidebar-wrapper'] {
       @apply my-20 px-10;
    }
    
    section {
        @apply mb-20 flex flex-col items-center lg:justify-around;
    }
}

@layer components {
    h1 {
        @apply text-5xl xl:text-7xl 2xl:text-8xl;
        font-family: 'Great', sans-serif;
    }
    
    h2 {
        @apply text-4xl xl:text-5xl;
        font-family: 'Great', sans-serif;
    }
    
    h3 {
        @apply text-4xl xl:text-5xl;
        line-height: 65px !important;
    }
    
    h4 {
        @apply text-3xl xl:text-4xl mb-3;
    }
    
    h5 {
        @apply text-2xl xl:text-3xl;
    }
    
    .global-market h5 {
        font-family: 'Great', sans-serif;
    }
    
    h6 {
        @apply text-xl xl:text-2xl;
    }
    
    p {
        @apply text-base lg:text-lg xl:text-xl;
    }

    span {
        @apply text-sm;
    }
    
    a {
        @apply text-center;
    }
    
    button {
        @apply cursor-pointer;
    }
    
    .custom-flex {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
    
    .info-icon {
        color: var(--maz-color-muted);
    }
    
    .vertical-separator {
        background: var(--card-border) !important;
        height: 50px;
        width: 1px;
    }

}

/* Desktop */
@media (min-width: 1024px) {}

/* Mobile */
@media (max-width: 1023px) {}