/*  Fonts  */
@import '@fontsource/ibm-plex-mono';
@import '@fontsource-variable/noto-sans';

@font-face {
    font-family: 'Great';
    font-display: swap;
    src: url(../fonts/Great.ttf);
}

@layer base {
    * {
        @apply m-0 border-border outline-ring/50;
    }
    
    html {
        @apply bg-background scheme-light dark:scheme-dark;
    }
    
    body {
        @apply bg-background text-foreground overflow-x-hidden;
        font-family: 'IBM Plex Mono', monospace;
    }
    
    #__nuxt {
        @apply bg-background;
        /*height: 100vh;*/
        /*width: 100%;*/
    }
    
    main {
        /*@apply my-28 md:my-14 px-20 md:px-32;*/
        /*@apply flex flex-col my-28 md:my-14 px-20 md:px-32;*/
    }
    
    [data-slot='sidebar-wrapper'] {
        /*@apply my-20 md:my-6;*/
    }
    
    [data-slot='sidebar-inset'] {
       @apply mt-6 flex flex-col justify-start max-w-[1800px] mx-auto;
    }
    
    section {
        @apply flex 2xl:flex-col gap-12 xl:gap-24 mb-20;
    }
    
    ::selection {
        background: var(--accent);
    }
}

@layer components {
    h1 {
        @apply text-6xl md:text-7xl 2xl:text-8xl tracking-tight;
        font-family: 'Great', sans-serif;
        
        &.page-title {
            @apply my-10 xl:my-20 xl:h-24;
        }
    }
    
    h2 {
        @apply text-3xl tracking-tight;
        font-family: 'Great', sans-serif;
    }
    
    h3 {
        @apply text-2xl;
        line-height: 30px !important;
    }
    
    .global-market h3 {
        font-family: 'Great', sans-serif;
    }
    
    h4 {
        @apply text-xl;
    }
    
    h5 {
        @apply text-lg;
    }
    
    h6 {
        @apply text-base;
    }
    
    
    p {
        @apply leading-5;
        /*@apply text-sm md:text-base;*/
    }

    span {
        @apply text-inherit;
        /*@apply text-sm;*/
    }
    
    a {
        @apply text-center;
    }
    
    button {
        @apply cursor-pointer;
    }
    
    .custom-flex {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
    
    .default-font {
        font-family: 'IBM Plex Mono', monospace;
    }
    
    .roboto-font {
        font-family: 'Roboto', monospace;
    }
    
    .great-font {
        font-family: 'Great', sans-serif;
        @apply truncate tracking-[0.4rem];
    }
    
    .info-icon {
        color: var(--maz-color-muted);
    }
    
    .vertical-separator {
        background: var(--accent) !important;
        height: 50px;
        width: 1px;
    }

}

/* Desktop */
@media (min-width: 1024px) {}

/* Mobile */
@media (max-width: 1023px) {}