/*  Fonts  */
@import '@fontsource/ibm-plex-mono';
@import '@fontsource-variable/noto-sans';

@layer base {
    * {
        @apply m-0;
    }
    
    html {
        @apply scheme-light dark:scheme-dark;
    }
    
    body {
        @apply bg-background text-foreground overflow-x-hidden;
        font-family: 'IBM Plex Mono', monospace;
    }
    
    main {
        @apply flex flex-1 flex-col mx-auto;
        min-height: calc(100vh - 200px);
    }
    
    section {
        @apply my-10 flex flex-col items-center lg:justify-around;
    }
    
    /*
    #__nuxt {
        height: 100vh;
        width: 100%;
    }
    */
}

@layer components {
    h1 {
        @apply text-7xl font-bold;
    }
    
    h2 {
        @apply text-6xl;
    }
    
    h3 {
        @apply text-5xl;
    }
    
    h4 {
        @apply text-4xl mb-3;
    }
    
    h5 {
        @apply text-3xl;
    }
    
    h6 {
        @apply text-2xl;
    }
    
    p {
        @apply text-lg;
    }
    
    .m-animated-text span {
        @apply text-3xl;
    }
    
    a {
        @apply text-center;
    }
    
    button {
        @apply cursor-pointer;
    }
    
    .m-table {
        font-family: 'Noto Sans Variable', sans-serif;
    }
    
    .m-table-header {
        font-family: 'IBM Plex Mono', monospace;
    }
    
    .custom-flex {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
    
    .hover-card-content {
        background: var(--card-small) !important;
    }
    
    .info-icon {
        color: var(--maz-color-muted);
    }
    
    .custom-separator {
        background: var(--card-border) !important;
    }
    
    .vertical-separator {
        background: var(--card-border) !important;
        height: 50px;
        width: 1px;
    }
    
    /*  CoinExplorers + CoinContracts  */
    .main-badge {
        background-color: var(--accent-foreground) !important;
        border: 1px solid transparent !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        height: 50px;
        
        &:hover {
            background-color: var(--accent) !important;
        }
    }
    
    /* Dropdown icon */
    .m-dropdown__wrapper {
        .m-btn {
            background-color: var(--accent-foreground) !important;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            height: 50px;
            
            &:hover {
                background-color: var(--accent) !important;
            }
        }
    }
    
    /* Dropdown menus */
    .m-dropdown.explorers-dropdown {
        .menu {
            background-color: var(--accent-foreground) !important;
            width: 200px !important;
        }
    }
    
    .m-dropdown.contracts-dropdown {
        .menu {
            background-color: var(--accent-foreground) !important;
            height: 375px !important;
            width: 375px !important;
        }
    }
}

/* Desktop */
@media (min-width: 1024px) {}

/* Mobile */
@media (max-width: 1023px) {}