@import 'maz-ui/styles';
@import 'tailwindcss';
@import './global.css';
@import './transitions.css';
@import './shadcn.css';
@import './mazui.css';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-background: var(--background);
    --color-border: var(--border);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-card-border: var(--card-border);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-foreground: var(--foreground);
    
    --color-input: var(--input);
    --color-muted: var(--muted);
    --color-muted-custom: var(--muted-custom);
    --color-maz-muted: var(--maz-color-muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-ring: var(--ring);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-warning: var(--warning);
    
    --color-progress: var(--color-progress);
    --color-sky: var(--color-sky);
    --color-1: var(--color-1);
    --color-3: var(--color-3);
    --color-4: var(--color-4);
    --color-5: var(--color-5);
    --color-6: var(--color-6);
}

:root {
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --border: oklch(0.274 0.006 286.033);
    --background: #0D1217;
    --background-2: oklch(0.17 0.008 285.489);
    --background-3: #222531;
    /*--background: oklch(0.141 0.005 285.823); zinc-default */
    --foreground: oklch(0.985 0 0);
    
    --card: oklch(0.141 0.005 285.823);
    --card-foreground: oklch(0.985 0 0);
    --card-border: oklch(0.442 0.017 285.786);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --input: oklch(0.274 0.006 286.033);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --muted-custom: rgb(156 163 175 / var(--maz-tw-text-opacity, 1));
    --popover: oklch(0.141 0.005 285.823);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.21 0.006 285.885);
    --ring: oklch(0.442 0.017 285.786);
    --secondary: #1cd1a1;
    --secondary-foreground: oklch(0.985 0 0);
    --warning: oklch(83.7% 0.128 66.29);
    
    --color-progress: oklch(0.696 0.17 162.48);
    --color-sky: rgb(14 165 233);

    
    /*
    --color-1: #4eec4e;
    --color-3: oklch(0.398 0.07 227.392);
    --color-4: oklch(0.627 0.265 303.9);
    --color-5: oklch(0.645 0.246 16.439);
    --color-6: oklch(0.569 0.132 154.839);
    
    --color-aqua: #02D0BD;
    --color-black: #000;
    --color-blue_dark: #0f1725;
    --color-blue_maastricht: #041b2b;
    --color-body-background: #1c283f;
    --color-error-text: #e10707;
    --color-gray_dark: #100f0f;
    --color-offwhite: #FFFFF7;
    --color-pink_cabaret: #E91E63;
    --color-pink_french: #FF65a4;
    --color-purple: #E040FB;
    --color-red: #B61432;
    --color-teal: #24A397;

    --color-primary_dark: #FFFFF7;
    --color-secondary_dark: #E91E63;
    --color-tertiary_dark: #917ddb;

    --color-primary_light: #2f4858;
    --color-secondary_light: #4e6b73;
    */
}

.dark {}