
/*  Sonner  */
[data-sonner-toast] {
    background-color: var(--primary-foreground) !important;
    border-radius: 8px !important;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15) !important;
    display: flex !important;
    justify-content: space-around !important;
    min-width: 475px !important;
}

[data-icon] {
    color: var(--color-progress) !important;
}

[data-title] {
    margin: 0 10px 0 20px !important;
}

[data-button] {
    margin: 0 !important;
}

.hover-card-content {
    background: var(--accent-foreground) !important;
    padding: 20px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

tbody {
    tr:hover {
        background: var(--accent-foreground) !important;
    }
}