@import 'tailwindcss';
@import 'tailwindcss/index';
@variant dark (&:where(.dark, .dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
}

@layer base {
    :root {
        --background: red;
        --foreground: black;
        --card: var(--color-zinc-50);
    }

    .dark {
        --background: var(--color-gray_dark); /* #27272a */
        --foreground: white;
        --card: var(--color-zinc-50);
    }
}

/*
.dark body {
    background: var(--color-gray_dark);
    color: var(--color-primary_dark);

    h1, h2, h3, h4, h5, h6 {
        color: var(--color-primary_dark);
    }

    p {
        color: var(--color-primary_dark);
    }

    .theme-selector span {
        color: var(--color-primary_dark);
    }
}

.light body {
    background-color: var(--color-offwhite);
    color: var(--color-primary_light);

    h1, h2, h3, h4, h5, h6 {
        color: var(--color-secondary_light);
    }

    p {
        color: var(--color-secondary_light);
    }

    .theme-selector span {
        color: var(--color-secondary_light);
    }
}
*/
