@import 'tailwindcss';
@import '../assets/styles/global.css';
@import 'maz-ui/styles';
@import '../assets/styles/transitions.css';

@custom-variant dark (&:is(.dark *));

/*

html {
    color-scheme: light dark;
}
html.dark {
    color-scheme: dark;
}
html.light {
    color-scheme: light;
}
*/

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-tertiary: var(--tertiary);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    
    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
    
    --text-xxs: 11px;
    --text-md: 14px;
    
    --font-great: Great, sans-serif;
    --font-metropolis: Metropolis, sans-serif;
    --font-montserrat: Montserrat Variable, sans-serif;
    --font-roboto: Roboto, monospace;
    --font-satoshi: Satoshi, sans-serif;
    --font-work-sans: Work Sans Variable, sans-serif;
    
    --color-progress: var(--progress);
    --color-sky: var(--sky);
    --color-green-dollar: var(--green-dollar);
    --color-green-patina: var(--green-patina);
    --color-green-shamrock: var(--green-shamrock);
    --color-snowy-mint: var(--snowy-mint);
    --color-pink-cabaret : var(--pink-cabaret);
    --color-green-deco: var(--green-deco);
    --color-teal-blue: var(--teal-blue);
    --color-blue-victoria: var(--blue-victoria);
    --color-pink-blush: var(--pink-blush);
    --color-blue-hippie: var(--blue-hippie);
    --color-blue-bunker: var(--blue-bunker);
    --color-red-brick: var(--red-brick);
    --color-gray-mine: var(--gray-mine);
    --color-gray-dove: var(--gray-dove);
    --color-ebony-clay: var(--ebony-clay);
    --color-orange-bitcoin: var(--orange-bitcoin);
    --color-yellow-selective: var(--yellow-selective);
    --color-warning: var(--warning);
    
    --animate-meteor-effect: meteor 5s linear infinite;
    @keyframes meteor {
        0% {
            transform: rotate(215deg) translateX(0);
            opacity: 1;
        }
        70% {
            opacity: 1;
        }
        100% {
            transform: rotate(215deg) translateX(-500px);
            opacity: 0;
        }
    }
    
    --animate-glow: glow var(--duration) infinite linear;
    @keyframes glow {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: 100% 100%;
        }
        to {
            background-position: 0% 0%;
        }
    }
    
    --animate-fadeIn: fadeIn 1s ease-out forwards;
    --animate-fadeIn-2000: fadeIn 2s ease-out forwards;
    
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
}

:root {
    /* Graphite */
    --background: #f0f0f0;
    --foreground: #333333;
    --card: #f5f5f5;
    --card-foreground: #333333;
    --popover: #f5f5f5;
    --popover-foreground: #333333;
    --primary: #606060;
    --primary-foreground: #ffffff;
    --secondary: #e0e0e0;
    --secondary-foreground: #333333;
    --muted: #d9d9d9;
    --muted-foreground: #666666;
    --accent: var(--muted);
    --accent-foreground: #333333;
    --destructive: #cc3333;
    --destructive-foreground: #ffffff;
    --border: #d0d0d0;
    --input: #e0e0e0;
    --ring: #606060;
    --chart-1: #606060;
    --chart-2: #476666;
    --chart-3: #909090;
    --chart-4: #a8a8a8;
    --chart-5: #c0c0c0;
    --sidebar: var(--card);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--muted);
    /*--sidebar-accent: #c0c0c0;*/
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
    --radius: 0.35rem;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.15;
    --shadow-color: hsl(0 0% 20% / 0.1);
    --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
    --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
    --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
    --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
    --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
    --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
    --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
    --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
    
    --progress: #00bc7d;
    --sky: #0ea5e9;
    --green-dollar: #27ae60;
    --green-patina: #6a9a8b;
    --green-shamrock: #1cd1a1;
    --snowy-mint: #c3e8c8;
    --pink-cabaret: #E91E63;
    --green-deco: #cbe58e;
    --teal-blue: #014760;
    --blue-victoria: #4a478a;
    --pink-blush: #da8a8b;
    --blue-bunker: #0d1217;
    --blue-hippie: #5591a9;
    --red-brick: #c9374c;
    --gray-mine: #333136;
    --gray-dove: #6f6d72;
    --ebony-clay: #1f2b37;
    --orange-bitcoin: #f7931a;
    --yellow-selective: #ffb900;
    --warning: oklch(83.7% 0.128 66.29);
}

.dark {
    /* Cosmic Night */
    --background: #14161f;
    --foreground: #ffffff;
    --card: #0D1217;
    /*--card: #1f2230;*/
    --card-foreground: #ffffff;
    --popover: #1f2230;
    --popover-foreground: #ffffff;
    --primary: #c1c0f6;
    --primary-foreground: #14161f;
    --secondary: #353958;
    --secondary-foreground: #f1f3fd;
    --muted: #2a2f46;
    --muted-foreground: #9ca3af;
    --accent: var(--muted);
    --accent-foreground: #ffffff;
    --destructive: #EA3943;
    --destructive-foreground: #ffffff;
    --border: #393e56;
    --input: #393e56;
    --ring: #c1c0f6;
    --chart-1: #c1c0f6;
    --chart-2: #99a9cc;
    --chart-3: #93d1e9;
    --chart-4: #6bb29f;
    --chart-5: #f3abe0;
    --sidebar: var(--popover);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--muted);
    /*--sidebar-accent: #3b4263;*/
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
    --radius: 0.35rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.12;
    --shadow-color: var(--border);
    --shadow-2xs: 0px 4px 10px 0px hsl(228.7500 22.8571% 27.4510% / 0.06);
    --shadow-xs: 0px 4px 10px 0px hsl(228.7500 22.8571% 27.4510% / 0.06);
    --shadow-sm: 0px 4px 10px 0px hsl(228.7500 22.8571% 27.4510% / 0.12), 0px 1px 2px -1px hsl(228.7500 22.8571% 27.4510% / 0.12);
    --shadow: 0px 4px 10px 0px hsl(228.7500 22.8571% 27.4510% / 0.12), 0px 1px 2px -1px hsl(228.7500 22.8571% 27.4510% / 0.12);
    --shadow-md: 0px 4px 10px 0px hsl(228.7500 22.8571% 27.4510% / 0.12), 0px 2px 4px -1px hsl(228.7500 22.8571% 27.4510% / 0.12);
    --shadow-lg: 0px 4px 10px 0px hsl(228.7500 22.8571% 27.4510% / 0.12), 0px 4px 6px -1px hsl(228.7500 22.8571% 27.4510% / 0.12);
    --shadow-xl: 0px 4px 10px 0px hsl(228.7500 22.8571% 27.4510% / 0.12), 0px 8px 10px -1px hsl(228.7500 22.8571% 27.4510% / 0.12);
    --shadow-2xl: 0px 4px 10px 0px hsl(228.7500 22.8571% 27.4510% / 0.30);
}